/*colorset: #181d23, #273238, #383f47, #E8fcff, #01Acc0, #255760, #777e8e */
* {
    box-sizing: border-box;
 }
body {
	font-family: Arial;
	margin: 0;
    padding: 0;
    background: #181d23;
    color: #E8fcff;
}
.footer {
    position: sticky;
    bottom: 0;
    padding: 10px 10px 3px 10px;
    background-color: #273238;
    float: left;
    width: 100%;
}
#paint {
    border: 5px solid #000000;
    margin: 10px 20px;
    display: inline-block;
    position: relative;
}

td {
    padding: 10px 10px 10px 10px;
}

#panel {
    border: 1px solid #777e8e;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #273238;
    width: 40%;
    height: 70%;
    margin: 20px 20px 20px 20px;
    float: left;
    display: inline-block;
}

.sidebar {
    width: 20%;
    height: 70%;
    float: left;
    padding: 20px 20px 20px 20px;
    display:inline-block;
}

.drawpanel {
    float: left;
    margin: auto;
    display: inline-block;
}

.toolbox {
    padding: 10px 10px 10px 10px;
    border: 1px dashed #01Acc0;
    border-radius: 10px;
}
@font-face {
    font-family: ComicSans;
    src: url(static/assets/ComicSansMS.ttf);
}
.nav {
	background-color: #383f47;
	overflow: hidden;
    margin: 0px;
}
.nav a {
	float: left;
	padding: 14px 16px;
	color: #E8fcff;
	text-align: center;
	text-decoration: none;
    margin: 0px;
}
.nav a:hover {
	background-color: #01Acc0;
	color: #E8fcff;
}
.nav a:active {
	background-color: #E8fcff;
	color: #181d23;
}

.header {
        padding: 0px;
        text-align: center;
        background: white;
}
 
.no-bg-border {
    background: none;
    border: none;
}

.header h1 {
   font-size: 50px;
}
.buttonA {
    border-radius: 5px;
    border: 1px dashed #01ACC1;
    background: #181d23;
    color: #01ACC1;
    font-size: 2em;
    margin: 1px;
    text-shadow: 0 -15px 2.5px transparent, 0 15px 2.5px transparent;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
h1 {
    color: #DFDBEE;
    font-size: 2em;
    text-align: center;
    width: 50%;
    margin: auto;
    border: 1px dotted #777e8e;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #273238;
    text-shadow: 0 0 8px #01Acc0;
}
    .buttonA:hover {
        background: #255760;
        border: 1px solid #01Acc0;
        color: white;
    }

    .buttonA:active {
        background: #01Acc0;
        border: 1px solid #E8fcff;
        color: white;
    }

.account {
    border: 1px dashed #01ACC1;
    background: #181d23;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 65%;
    max-height: 100%;
}
/* Right column */
.rightcolumn {
    float: left;
    color: #E8fcff;
    width: 35%;
    background-color: #273238;
    padding-left: 20px;
    height: 600px;
    overflow: auto;
    border: 5px double #777e8e;
    border-radius: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bg-grad {
    background-image: linear-gradient(-5deg, #a2d2bd 0%, #1fc8db 51%, #2cb5e8 75%);
}

.bg-pattern-1 {
    /* background-image: url("https://cdn12.picryl.com/photo/2016/12/31/background-abstracts-patterns-backgrounds-textures-2b7e45-1024.jpg"); */
    background-color: #ffffff00;
    border: 1px solid #ffffff;
}

.bg-pattern-2 {
    /* background-image: url("https://cdn12.picryl.com/photo/2016/12/31/background-abstracts-patterns-backgrounds-textures-2b7e45-1024.jpg"); */
    background-color: #ffffff00;
    border: 1px solid #ffffff;
}

.card-deck {
    margin-bottom: 15px;
    margin-top: 15px;
}

.leftcolumn .card-deck {
    margin: 15px;
}

.modal-text {
    color: black;
}

/* @media only screen and (min-width: 576px) {
     .col-crush {
        display: inherit;
     }
} */

@media only screen and (max-width: 576px) {
     .col-crush {
        display: none;
     }

     .col-fill {
         max-width: 100%;
         flex: 0 0 100%;
     }
}
#show {
    border-radius: 5px;
    border: 1px dashed #01ACC1;
    background: #181d23;
    color: #01ACC1;
    font-size: 2em;
    text-shadow: 0 -15px 2.5px transparent, 0 15px 2.5px transparent;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
