/*colorset: #181d23, #273238, #383f47, #E8fcff, #01Acc0, #255760, #777e8e */
* {
    box-sizing: border-box;
 }
body {
	font-family: Arial;
	margin: 0;
    background: #181d23;
    color: #E8fcff;
}
.nav {
	background-color: #383f47;
	overflow: hidden;
}
.nav a {
	float: left;
	padding: 14px 16px;
	color: #E8fcff;
	text-align: center;
	text-decoration: none;
}
.nav a:hover {
	background-color: #01Acc0;
	color: #E8fcff;
}
.nav a:active {
	background-color: #E8fcff;
	color: #181d23;
}

.header {
        padding: 30px;
        text-align: center;
        background: white;
}

.no-bg-border {
    background: none;
    border: none;
}

.header h1 {
   font-size: 50px;
}

/*Create horizontal rules. (Used in instructions page)*/
hr {
    border: none;
    border-top: 3px double #333;
    color: #ff0000;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '�';
    padding: 0 4px;
    position: relative;
    top: -13px;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 65%;
    max-height: 100%;
}
/* Right column */
.rightcolumn {
    float: left;
    color: #E8fcff;
    width: 35%;
    background-image: url("/static/images/monster.gif");
    background-color: #273238;
    padding-left: 20px;
    height: 600px;
    overflow: auto;
    border: 5px double #777e8e;
    border-radius: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bg-grad {
    background-image: linear-gradient(-5deg, #a2d2bd 0%, #1fc8db 51%, #2cb5e8 75%);
}

.bg-pattern-1 {
    /* background-image: url("https://cdn12.picryl.com/photo/2016/12/31/background-abstracts-patterns-backgrounds-textures-2b7e45-1024.jpg"); */
    background-color: #ffffff00;
    border: 1px solid #ffffff;
}

.bg-pattern-2 {
    /* background-image: url("https://cdn12.picryl.com/photo/2016/12/31/background-abstracts-patterns-backgrounds-textures-2b7e45-1024.jpg"); */
    background-color: #ffffff00;
    border: 1px solid #ffffff;
}

.card-deck {
    margin-bottom: 15px;
    margin-top: 15px;
}

.leftcolumn .card-deck {
    margin: 15px;
}

.modal-text {
    color: black;
}

/* @media only screen and (min-width: 576px) {
     .col-crush {
        display: inherit;
     }
} */

@media only screen and (max-width: 576px) {
     .col-crush {
        display: none;
     }

     .col-fill {
         max-width: 100%;
         flex: 0 0 100%;
     }
}
