<!DOCTYPE html>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
{% extends "loggedinheader.html" %}
{% block content %}
<body>
    <div class=" = "container">
        <h1>Welcome to your Account, [Name]</h1>
        <hr />
        <p> (IMPLEMENTATION OF THIS PAGE ONGOING)</p>
        <p> Your Name: [name]</p>
        <hr />
        <p> Your Email: [email]</p>
        <hr />
        <p> Your Friends: You have no friends</p>
        <hr />
    </div>
</body>
{% endblock %}
</html>