<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
{% extends "loggedinheader.html" %}
{% block content %}
<body onload="init()">
    <div class="container">
        <h1 id="welcome" aria-readonly="true">Welcome to your Account, [Name]</h1>
        <hr />
        <textarea id="name" aria-readonly="true"> Your Username: [name]</p>
        </textarea>
        <textarea id="email" aria-readonly="true"> Your Email: [email]</p>
        </textarea>
        <textarea id="password" aria-readonly="true"> Your Password: We are more secure than this.</p>
        </textarea>
        <textarea id="friends" aria-readonly="true"> Your Friends: You have no friends (and neither do we).</p>
        </textarea>
    </div>
</body>
<button type="button" class="btn btn-primary" onclick="show_edits()">Edit</button>
<button type="button" class="btn btn-primary" onclick="save_edits()" hidden="hidden">Save</button>
</html>

<script>
    var retrieveInfo = {};
    function init () {
        handleLogin();
        document.addEventListener("logged-in", function () {
            retrieveInfo = retrieveSessionData();
            $("#welcome").html("Welcome to your Account, " + retrieveInfo["email"]);
            $("#name").html("Your Name (ID): " + retrieveInfo["userid"]); //username once not null
            $("#email").html("Your Email: " + retrieveInfo["email"]);
        });
    } 

    function show_edits() {
        $('#name').removeAttr('readonly');
        $('#email').removeAttr('readonly');
        $('#password').removeAttr('readonly');

    }
</script>

{% endblock %}
