<div class="modText" id="monsterChoicesText"> </div>
<div class="" id="cards"> </div>

<script>
    var deck;
    var selectedMonsters = new Array();

    document.addEventListener("logged-in", function () {
        loadImages_ajax();
    });

    function loadImages_ajax() {
        // ask for email
        var fd = new FormData();
        fd.append( 'token', retrieveLoginToken());

        $.ajax({
            url: '/cards/player_cards',
            data: fd,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                if ("error" in data) {}
                else {
                    deck = data['cards'];
                    buildDeck(deck);
                }
            }
        });
    }

    function buildDeck(deck){
        for(var i=0; i<deck.length; i++){
            monsterId = deck[i].id;
            monsterName = deck[i].name;
            
            var ref = `<button onclick="handleMonsterClick('${monsterId}')"><img src="/cards/preview/${monsterId}" width="225px" height="315px"><br>${monsterName}</button>`
            $("#cards").prepend(ref)
        }
    }

    function handleMonsterClick(monsterId) {
        console.log("clicked");
        
        if(selectedMonsters.includes(monsterId)){
            selectedMonsters = selectedMonsters.filter(function(value, index, arr){ return value != monsterId; });
            document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " + selectedMonsters.toString() + "\n";
            document.getElementById("saveButton").disabled = true;
        } else 
        {
            if (selectedMonsters.length >= 5){
                 document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " + selectedMonsters.toString() + "<br> Your draft is complete, please press 'Save Team' to prepare your monsters for battle";
                 document.getElementById("saveButton").disabled = false;
             }
             else{
                selectedMonsters.push(monsterId);
                if (selectedMonsters.length >= 5){
                     document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " + selectedMonsters.toString() + "<br> Your draft is complete, please press 'Save Team' to prepare your monsters for battle";
                     document.getElementById("saveButton").disabled = false;
                 }
                 else {
                    document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " + selectedMonsters.toString() + "\n";
                }
             }
            
        }
        console.log(selectedMonsters);
    }


</script>
