<div class="modText" id="monsterChoicesText"> </div>
<div class="" id="cards"> </div>

<script>
    var deck;
    var selectedMonsters = {}

    document.addEventListener("logged-in", function () {
        loadImages_ajax();
    });

    function loadImages_ajax() {
        // ask for email
        var fd = new FormData();
        fd.append( 'token', retrieveLoginToken());

        $.ajax({
            url: '/cards/player_cards',
            data: fd,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                if ("error" in data) {}
                else {
                    deck = data['cards'];
                    buildDeck(deck);
                }
            }
        });
    }

    function buildDeck(deck){
        for(var i=0; i<deck.length; i++){
            monsterId = deck[i].id;
            monsterName = deck[i].name;
            
            var ref = `<button onclick="handleMonsterClick('${monsterId}', '${monsterName}')"><img src="/cards/preview/${monsterId}" width="225px" height="315px"><br>${monsterName}</button>`
            $("#cards").prepend(ref)
        }
    }

    function handleMonsterClick(monsterId, monsterName) {
        console.log("clicked");
        
        if(monsterId in selectedMonsters) {
            delete selectedMonsters[monsterId];
            document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " + makeString(selectedMonsters) + "\n";
            document.getElementById("saveButton").disabled = true;
        } else 
        {
            if (countMonsters(selectedMonsters)>= 5){
                 document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " +  makeString(selectedMonsters) + "<br> Your draft is complete, please press 'Save Team' to prepare your monsters for battle";
                 document.getElementById("saveButton").disabled = false;
             }
             else{
                selectedMonsters[monsterId] = monsterName;
                if (countMonsters(selectedMonsters) >= 5){
                     document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " +  makeString(selectedMonsters) + "<br> Your draft is complete, please press 'Save Team' to prepare your monsters for battle";
                     document.getElementById("saveButton").disabled = false;
                 }
                 else {
                    document.getElementById("monsterChoicesText").innerHTML = "You have chosen: " +  makeString(selectedMonsters) + "\n";
                }
             }
            
        }
        console.log(monst_dict);
    }

    function countMonsters(hand) {
        var count = 0;
        for (key in hand) {
            ++count;
        }
        return count;
    }

    function makeString(hand) {
        var all_monst = "";
        for (key in hand) {
            all_monst += hand[key] + " "
        }
        return all_monst;
    }


</script>
