<!DOCTYPE html>
{%extends 'loggedinheader.html' %}
<meta charset="utf-8" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>
<script type="text/javascript" src="libs/upclick-min.js"></script>

{% block header %}
{% endblock %}

{% block content %}
<body>
    <script type="text/javascript" src="/static/scripts/editor.js"></script>
    <h1>MonsterEditor</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <div style= 'float:left'>
        <canvas id="paint" width="450" height="630" style="border: 5px solid #000000;"></canvas>
    </div>

    <div position = 'relative'>
        <fieldset id="colorset" width="450" height="630">
        <table width=50% height=100% >
            <label>Tool: <select id="toolselect" onchange="change(this.value)" style="height: 30px; width: 90px;">
                <option value="pencil">Pencil</option>
                <option value="line">Line</option>
                <option value="rectangle">Rectangle</option>
                <option value="circle">Circle</option>
                <option value="eraser">Eraser</option>
            </select></label>
            <label> Options: <select id="optionsselect" onchange="change(this.value)" style="height: 30px; width: 90px;">
                <option value="fill">Fill</option>
                <option value="outline">Outline</option>
            </select></label>

    <td>
        <label> Line Width: </label>
            <button id="pixel_plus" type="button" onclick="add_pixel()" style="width: 25px;">+</button>
            <button id="pixel_minus" type="button" onclick="reduce_pixel()" style="width: 25px;">-</button>
    </td>
    </fieldset>
    </div>

    <div style = 'float:right'>
    <table align="center">
        <td><button style="background-color: #000000; height: 20px; width: 20px;" onclick="color('#000000')"></button>
        <td><button style="background-color: #B0171F; height: 20px; width: 20px;" onclick="color('#B0171F')"></button>
        <td><button style="background-color: #DA70D6; height: 20px; width: 20px;" onclick="color('#DA70D6')"></button>
        <td><button style="background-color: #8A2BE2; height: 20px; width: 20px;" onclick="color('#8A2BE2')"></button>
        <td><button style="background-color: #0000FF; height: 20px; width: 20px;" onclick="color('#0000FF')"></button>
        <td><button style="background-color: #4876FF; height: 20px; width: 20px;" onclick="color('#4876FF')"></button>
        <td><button style="background-color: #CAE1FF; height: 20px; width: 20px;" onclick="color('#CAE1FF')"></button>
        <td><button style="background-color: #6E7B8B; height: 20px; width: 20px;" onclick="color('#6E7B8B')"></button>
        <tr><td><button style="background-color: #00C78C; height: 20px; width: 20px;" onclick="color('#00C78C')"></button>
        <td><button style="background-color: #00FA9A; height: 20px; width: 20px;" onclick="color('#00FA9A')"></button>
        <td><button style="background-color: #00FF7F; height: 20px; width: 20px;" onclick="color('#00FF7F')"></button>
        <td><button style="background-color: #00C957; height: 20px; width: 20px;" onclick="color('#00C957')"></button>
        <td><button style="background-color: #3D9140; height: 20px; width: 20px;" onclick="color('#3D9140')"></button>
        <td><button style="background-color: #32CD32; height: 20px; width: 20px;" onclick="color('#32CD32')"></button>
        <td><button style="background-color: #00EE00; height: 20px; width: 20px;" onclick="color('#00EE00')"></button>
        <td><button style="background-color: #008B00; height: 20px; width: 20px;" onclick="color('#008B00')"></button>
        <tr><td><button style="background-color: #76EE00; height: 20px; width: 20px;" onclick="color('#76EE00')"></button>
        <td><button style="background-color: #CAFF70; height: 20px; width: 20px;" onclick="color('#CAFF70')"></button>
        <td><button style="background-color: #FFFF00; height: 20px; width: 20px;" onclick="color('#FFFF00')"></button>
        <td><button style="background-color: #CDCD00; height: 20px; width: 20px;" onclick="color('#CDCD00')"></button>
        <td><button style="background-color: #FFF68F; height: 20px; width: 20px;" onclick="color('#FFF68F')"></button>
        <td><button style="background-color: #FFFACD; height: 20px; width: 20px;" onclick="color('#FFFACD')"></button>
        <td><button style="background-color: #FFEC8B; height: 20px; width: 20px;" onclick="color('#FFEC8B')"></button>
        <td><button style="background-color: #FFD700; height: 20px; width: 20px;" onclick="color('#FFD700')"></button>
        <tr><td><button style="background-color: #F5DEB3; height: 20px; width: 20px;" onclick="color('#F5DEB3')"></button>
        <td><button style="background-color: #FFE4B5; height: 20px; width: 20px;" onclick="color('#FFE4B5')"></button>
        <td><button style="background-color: #EECFA1; height: 20px; width: 20px;" onclick="color('#EECFA1')"></button>
        <td><button style="background-color: #FF9912; height: 20px; width: 20px;" onclick="color('#FF9912')"></button>
        <td><button style="background-color: #8E388E; height: 20px; width: 20px;" onclick="color('#8E388E')"></button>
        <td><button style="background-color: #7171C6; height: 20px; width: 20px;" onclick="color('#7171C6')"></button>
        <td><button style="background-color: #7D9EC0; height: 20px; width: 20px;" onclick="color('#7D9EC0')"></button>
        <td><button style="background-color: #388E8E; height: 20px; width: 20px;" onclick="color('#388E8E')"></button>
        <tr><td><button style="background-color: #71C671; height: 20px; width: 20px;" onclick="color('#71C671')"></button>
        <td><button style="background-color: #8E8E38; height: 20px; width: 20px;" onclick="color('#8E8E38')"></button>
        <td><button style="background-color: #C5C1AA; height: 20px; width: 20px;" onclick="color('#C5C1AA')"></button>
        <td><button style="background-color: #C67171; height: 20px; width: 20px;" onclick="color('#C67171')"></button>
        <td><button style="background-color: #555555; height: 20px; width: 20px;" onclick="color('#555555')"></button>
        <td><button style="background-color: #848484; height: 20px; width: 20px;" onclick="color('#848484')"></button>
        <td><button style="background-color: #F4F4F4; height: 20px; width: 20px;" onclick="color('#F4F4F4')"></button>
        <td><button style="background-color: #EE0000; height: 20px; width: 20px;" onclick="color('#EE0000')"></button>
        <tr><td><button style="background-color: #FF4040; height: 20px; width: 20px;" onclick="color('#FF4040')"></button>
        <td><button style="background-color: #EE6363; height: 20px; width: 20px;" onclick="color('#EE6363')"></button>
        <td><button style="background-color: #FFC1C1; height: 20px; width: 20px;" onclick="color('#FFC1C1')"></button>
        <td><button style="background-color: #FF7256; height: 20px; width: 20px;" onclick="color('#FF7256')"></button>
        <td><button style="background-color: #FF4500; height: 20px; width: 20px;" onclick="color('#FF4500')"></button>
        <td><button style="background-color: #F4A460; height: 20px; width: 20px;" onclick="color('#F4A460')"></button>
        <td><button style="background-color: #FF8000; height: 20px; width: 20px;" onclick="color('FF8000')"></button>
        <td><button style="background-color: #FFD700; height: 20px; width: 20px;" onclick="color('#FFD700')"></button>
        <tr><td><button style="background-color: #8B864E; height: 20px; width: 20px;" onclick="color('#8B864E')"></button>
        <td><button style="background-color: #9ACD32; height: 20px; width: 20px;" onclick="color('#9ACD32')"></button>
        <td><button style="background-color: #66CD00; height: 20px; width: 20px;" onclick="color('#66CD00')"></button>
        <td><button style="background-color: #BDFCC9; height: 20px; width: 20px;" onclick="color('#BDFCC9')"></button>
        <td><button style="background-color: #76EEC6; height: 20px; width: 20px;" onclick="color('#76EEC6')"></button>
        <td><button style="background-color: #40E0D0; height: 20px; width: 20px;" onclick="color('#40E0D0')"></button>
        <td><button style="background-color: #E0EEEE; height: 20px; width: 20px;" onclick="color('#E0EEEE')"></button>
        <td><button style="background-color: #98F5FF; height: 20px; width: 20px;" onclick="color('#98F5FF')"></button>
        <tr><td><button style="background-color: #33A1C9; height: 20px; width: 20px;" onclick="color('#33A1C9')"></button>
        <td><button style="background-color: #F0F8FF; height: 20px; width: 20px;" onclick="color('#F0F8FF')"></button>
        <td><button style="background-color: #4682B4; height: 20px; width: 20px;" onclick="color('#4682B4')"></button>
        <td><button style="background-color: #C6E2FF; height: 20px; width: 20px;" onclick="color('#C6E2FF')"></button>
        <td><button style="background-color: #9B30FF; height: 20px; width: 20px;" onclick="color('#9B30FF')"></button>
        <td><button style="background-color: #EE82EE; height: 20px; width: 20px;" onclick="color('#EE82EE')"></button>
        <td><button style="background-color: #FFC0CB; height: 20px; width: 20px;" onclick="color('#FFC0CB')"></button>
        <td><button style="background-color: #7CFC00; height: 20px; width: 20px;" onclick="color('#7CFC00')"></button>
    </table>
    </div>

    <div sytle= 'float:right'>
    <fieldset>
            </table>
        <label>Style: <select id="fontselect" onchange="font(this.value)" style="height: 30px; width: 90px;">
            <option value="20px Arial">Small Arial</option>
            <option value="30px Arial">Medium Arial</option>
            <option value="40px Arial">Large Arial</option>
            <option value="20px Comic Sans">Small Comic Sans</option>
            <option value="30px Comic Sans">Medium Comic Sans</option>
            <option value="40px Comic Sans">Large Comic Sans</option>
    </select></label>


    <label>Text: </label><input id="fname" type="text" onchange="text(this.value)">

    <label>Vertical Text Height: </label><input type="range" min="2" max="99" value="2" class="slider" id="myRange" oninput="changeVert(this.value)">

    <label>Horizontal Text Height: </label><input type="range" min="1" max="97" value="1" class="slider" id="myRange" oninput="changeHorzt(this.value)">

    </fieldset>
    </div>

    <div sytle= 'float:right'>
    <fieldset>
        <form id="upload-img-form" enctype="multipart/form-data">
            <label>Upload Image: </label>
            <input type="file" id="monster-image" name="monster-image" accept="image/png, image/jpeg">
            <button type="button" id="upload" onclick="uploadImage_ajax()">Upload</button>
        </form>
    </fieldset>
    </div>

    <div sytle= 'float:right'>
    <fieldset>
            <label>Monster Name: </label><input id="fname" type="text"><button id="save" onclick="save()">Save</button>
            <button id="reset" onclick="reset()">Reset</button>
    </fieldset>
    </div>




<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src=" {{ url_for('static', filename='script.js') }}"></script>

</body>
{% endblock %}