<!DOCTYPE html>
{%extends 'loggedinheader.html' %}
<meta charset="utf-8" />
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    #color-input {
        display: none;
    }

    #color-label {
        margin-left: 15px;
        position: absolute;
        height: 30px;
        width: 50px;
    }

    #color-input:checked~#color-picker {
        opacity: 1;
    }

    #color-picker {
        position: absolute;
        left: 70px;
        background-color: white;
        height: 150px;
        width: 185px;
        border: solid 1px #ccc;
        opacity: 0;
        padding: 5px;
    }

    #color-strip:hover {
        cursor: crosshair;
    }

    #paint {
        border: 5px solid #000000;
        margin: 10px 20px;
        display: inline-block;
        position: relative;
    }

    #panel {
        border: 2px solid #E8fcff;
        padding: 20px 20px 20px 20px;
        background-color: #273238;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>
<script type="text/javascript" src="libs/upclick-min.js"></script>

{% block header %}
{% endblock %}

{% block content %}

<body>
    <script type="text/javascript" src="/static/scripts/editor.js"></script>


    <h1>MonsterEditor</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <table>
        <td>
            <button id="reset" value="pencil" onclick="change(this.value)">
                <img src="/static/assets/pencilicon.png"
                     alt="Pencil" style="width:60px; height:55px">
            </button>
            <button id="reset" value="line" onclick="change(this.value)">
                <img src="/static/assets/linetool.png"
                     alt="Line" style="width:60px; height:55px">
            </button>
        </td>
        <td>
            <button id="reset" value="rectangle" onclick="change(this.value)">
                <img src="/static/assets/squaretool.png"
                     alt="Rectangle" style="width:60px; height:55px">
            </button>
            <button id="reset" value="circle" onclick="change(this.value)">
                <img src="/static/assets/circletool.png"
                     alt="Circle" style="width:60px; height:55px">
            </button>
        </td>
        <td>
            <button id="reset" value="eraser" onclick="change(this.value)">
                <img src="/static/assets/erasertool.png"
                     alt="Eraser" style="width:60px; height:55px">
            </button>
        </td>
    </table>
    <div style='float:left; margin: 10px 20px;'>
        <canvas id="paint" width="450" height="630"></canvas>
    </div>
    <div id="panel">
        <div id="color-picker">
            <canvas id="color-block" height="150" width="150"></canvas>
            <canvas id="color-strip" height="150" width="30"></canvas>
            <button id="reset" onclick="document.getElementById('colorin').jscolor.show()">
                Show Picker
            </button>
            <button id="reset" onclick="document.getElementById('colorin').jscolor.hide()">
                Hide Picker
            </button>
            Color: <input id="colorin" class="jscolor {width:243, height:150,
    borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}" onchange="update(this.jscolor)" value="ab2567">
        </div>
    </div>
    <div position='relative'>
        <fieldset id="colorset" width="450" height="630">
            <table width=50% height=100%>
                <label>
                    Options: <select id="optionsselect" onchange="change(this.value)"
                                     style="height: 30px; width: 90px;">
                        <option value="fill">Fill</option>
                        <option value="outline">Outline</option>
                    </select>
                </label>

                <td>
                    <label> Line Width: </label>
                    <button id="reset" type="button" onclick="add_pixel()"
                            style="width: 50px; font-size:2em;">
                        +
                    </button>
                    <button id="reset" type="button" onclick="reduce_pixel()"
                            style="width: 50px; font-size:2em;">
                        -
                    </button>
                </td>
        </fieldset>
    </div>




    <div sytle='float:right'>
        <fieldset>
            </table>
            <label>
                Style: <select id="fontselect" onchange="font(this.value)" style="height: 30px; width: 100px;">
                    <option value="20px Arial">Small Arial</option>
                    <option value="30px Arial">Medium Arial</option>
                    <option value="40px Arial">Large Arial</option>
                    <option value="20px Comic Sans">Small Comic Sans</option>
                    <option value="30px Comic Sans">Medium Comic Sans</option>
                    <option value="40px Comic Sans">Large Comic Sans</option>
                </select>
            </label>


            <label>Text: </label><input id="fname" type="text" onchange="text(this.value)">

            <label>Vertical Text Height: </label><input type="range" min="2" max="99" value="2" class="slider"
                                                        id="myRange" oninput="changeVert(this.value)">

            <label>Horizontal Text Height: </label><input type="range" min="1" max="97" value="1" class="slider"
                                                          id="myRange" oninput="changeHorzt(this.value)">

        </fieldset>
    </div>

    <div sytle='float:right'>
        <fieldset>
            <form id="upload-img-form" enctype="multipart/form-data">
                <label>Upload Image: </label>
                <input type="file" id="monster-image" name="monster-image" accept="image/png, image/jpeg">
                <button type="button" id="reset" onclick="uploadImage_ajax()">Upload</button>
            </form>
        </fieldset>
    </div>

    <div sytle='float:right'>
        <fieldset>
            <label>Monster Name: </label><input id="monster-name" type="text">
            <button id="reset" id="save" onclick="save()">Save</button>
            <button id="reset" onclick="reset()">Reset</button>
            <button id="reset" id="delete" onclick="deleteCard()">Delete</button>
        </fieldset>
    </div>



    <!-- Waiting for players modal -->
    <div class="modal fade" id="waitingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body text-center modal-text">
                    <div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div>
                    <div id="waitingTag">
                        <p>Saving your card...<br>We think it's beautiful.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src=" {{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="/static/scripts/ColorWheelScript.js"></script>
    <script type="text/javascript" src="/static/scripts/drawingapp.js"></script>
</body>
{% endblock %}