<!DOCTYPE html>
{%extends 'loggedinheader.html' %}
<meta charset="utf-8" />
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    #color-input {
        display: none;
    }

    #color-label {
        margin-left: 15px;
        position: absolute;
        height: 30px;
        width: 50px;
    }

    #color-input:checked~#color-picker {
        opacity: 1;
    }

    #color-picker {
        position: absolute;
        left: 70px;
        background-color: white;
        height: 150px;
        width: 185px;
        border: solid 1px #ccc;
        opacity: 0;
        padding: 5px;
    }

    #color-strip:hover {
        cursor: crosshair;
    }

    #paint {
        border: 5px solid #000000;
        margin: 10px 20px;
        display: inline-block;
        position: relative;
    }

    #panel {
        border: 2px solid #E8fcff;
        padding: 20px 20px 20px 20px;
        background-color: #273238;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>
<script type="text/javascript" src="libs/upclick-min.js"></script>

{% block header %}
{% endblock %}

{% block content %}

<body onload="pencil()">
    <h1>Monster Editor</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <div class="sidebar">
        <table>
            <tr>
                <td>
                    <form id="upload-img-form" enctype="multipart/form-data">
                        <label style="text-shadow: 0 0 8px #01Acc0; font-size: 1.5em;">Upload Image: </label>
                        <input type="file" id="monster-image" name="monster-image" accept="image/png, image/jpeg">
                        <button type="button" class="buttonA" onclick="uploadImage_ajax()">Upload</button>
                    </form>
                    <label style="text-shadow: 0 0 8px #01Acc0; font-size: 1.5em;">Name your Monster: </label>
                    <input id="monster-name" type="text">
                    <button class="buttonA" onclick="save()">Save</button>

                    <button class="buttonA" onclick="deleteCard()">Delete</button>
                    <button class="buttonA" onclick="reset()">Reset</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="drawpanel">
        <div class="toolbox">
            <button class="buttonA" style="margin-left:20px;" value="pencil" onclick="change(this.value)">
                <img src="/static/assets/pencilicon.png"
                     alt="Pencil" style="width:60px; height:55px">
            </button>
            <button class="buttonA" value="line" onclick="change(this.value)">
                <img src="/static/assets/linetool.png"
                     alt="Line" style="width:60px; height:55px">
            </button>
            <button class="buttonA" value="rectangle" onclick="change(this.value)">
                <img src="/static/assets/squaretool.png"
                     alt="Rectangle" style="width:60px; height:55px">
            </button>
            <button class="buttonA" value="circle" onclick="change(this.value)">
                <img src="/static/assets/circletool.png"
                     alt="Circle" style="width:60px; height:55px">
            </button>
            <button class="buttonA" value="eraser" onclick="change(this.value)">
                <img src="/static/assets/erasertool.png"
                     alt="Eraser" style="width:60px; height:55px">
            </button>
        </div>
        <canvas id="paint" width="450" height="630"></canvas>
    </div>
    <div id="panel">
        <table>
            <tr>
                <td style="height:auto">
                    <input style="border:none; height:180px; width:70px; padding: 0px 0px 0px 5px;" id="colorin" class="jscolor {width:243, height:150, borderColor:'#FFF',
                   insetColor:'#FFF', backgroundColor:'#666', position:'right'}" onchange="update(this.jscolor)" value="ab2567">
                </td>
            </tr>
            <tr>
                <td>
                    <button class="buttonA" onclick="document.getElementById('colorin').jscolor.show()">
                        Show Color Picker
                    </button>
                </td>
                <td>
                    <button class="buttonA" onclick="document.getElementById('colorin').jscolor.hide()">
                        Hide Color Picker
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Options: <select id="optionsselect" onchange="change(this.value)"
                                         style="height: 30px; width: 90px;">
                            <option value="fill">Fill</option>
                            <option value="outline">Outline</option>
                        </select>
                    </label>
                </td>
                <td>
                    <label> Line Width: </label>
                    <button class="buttonA" type="button" onclick="add_pixel()"
                            style="width: 50px; font-size:2em;">
                        +
                    </button>
                    <button class="buttonA" type="button" onclick="reduce_pixel()"
                            style="width: 50px; font-size:2em;">
                        -
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Style: <select id="fontselect" onchange="font(this.value)" style="height: 30px; width: 100px;">
                            <option value="20px Arial">Small Arial</option>
                            <option value="30px Arial">Medium Arial</option>
                            <option value="40px Arial">Large Arial</option>
                            <option value="20px Comic Sans MS">Small Comic Sans</option>
                            <option value="30px Comic Sans MS">Medium Comic Sans</option>
                            <option value="40px Comic Sans MS">Large Comic Sans</option>
                        </select>
                    </label>
                </td>
                <td>

                    <label>Text: </label><input id="fname" type="text" onchange="text(this.value)">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Vertical Text Height: </label><input type="range" min="2" max="99" value="2" class="slider"
                                                                id="myRange" oninput="changeVert(this.value)">
                </td>
                <td>
                    <label>Horizontal Text Height: </label><input type="range" min="1" max="97" value="1" class="slider"
                                                                  id="myRange" oninput="changeHorzt(this.value)">
                </td>
            </tr>
        </table>
    </div>



    <!-- Waiting for players modal -->
    <div class="modal fade" id="waitingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body text-center modal-text">
                    <div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div>
                    <div id="waitingTag">
                        <p>Saving your card...<br>We think it's beautiful.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src=" {{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="/static/scripts/ColorWheelScript.js"></script>
    <script type="text/javascript" src="/static/scripts/editor.js"></script>
    <script type="text/javascript" src="/static/scripts/drawingapp.js"></script>
    <script>; (function{ document.getElementById('colorin').jscolor.show(); }());</script>
</body>
{% endblock %}