<!DOCTYPE html>
{%extends 'loggedinheader.html' %}
<meta charset="utf-8" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<script src="http://code.createjs.com/easeljs-0.5.0.min.js"></script>
<script type="text/javascript" src="libs/upclick-min.js">


    <title></title>
</head>

{% block content %}
<body onload="pencil()">
    <h1>MonsterEditor</h1>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <div style= 'float:left'>
        <canvas id="paint" width="450" height="630" style="border: 5px solid #000000;"></canvas>
    </div>

    <div position = 'relative'>
        <fieldset id="colorset" width="450" height="630">
        <table width=50% height=100% >
            <label>Tool: <select id="toolselect" onchange="change(this.value)" style="height: 30px; width: 90px;">
                <option value="pencil">Pencil</option>
                <option value="line">Line</option>
                <option value="rectangle">Rectangle</option>
                <option value="circle">Circle</option>
                <option value="eraser">Eraser</option>
            </select></label>
            <label> Options: <select id="optionsselect" onchange="change(this.value)" style="height: 30px; width: 90px;">
                <option value="fill">Fill</option>
                <option value="outline">Outline</option>
            </select></label>

    <td>
        <label> Line Width: </label>
            <button id="pixel_plus" type="button" onclick="add_pixel()" style="width: 25px;">+</button>
            <button id="pixel_minus" type="button" onclick="reduce_pixel()" style="width: 25px;">-</button>
    </td>
    </fieldset>
    </div>

    <div style = 'float:right'>
    <table align="center">
        <td><button style="background-color: #000000; height: 20px; width: 20px;" onclick="color('#000000')"></button>
        <td><button style="background-color: #B0171F; height: 20px; width: 20px;" onclick="color('#B0171F')"></button>
        <td><button style="background-color: #DA70D6; height: 20px; width: 20px;" onclick="color('#DA70D6')"></button>
        <td><button style="background-color: #8A2BE2; height: 20px; width: 20px;" onclick="color('#8A2BE2')"></button>
        <td><button style="background-color: #0000FF; height: 20px; width: 20px;" onclick="color('#0000FF')"></button>
        <td><button style="background-color: #4876FF; height: 20px; width: 20px;" onclick="color('#4876FF')"></button>
        <td><button style="background-color: #CAE1FF; height: 20px; width: 20px;" onclick="color('#CAE1FF')"></button>
        <td><button style="background-color: #6E7B8B; height: 20px; width: 20px;" onclick="color('#6E7B8B')"></button>
        <tr><td><button style="background-color: #00C78C; height: 20px; width: 20px;" onclick="color('#00C78C')"></button>
        <td><button style="background-color: #00FA9A; height: 20px; width: 20px;" onclick="color('#00FA9A')"></button>
        <td><button style="background-color: #00FF7F; height: 20px; width: 20px;" onclick="color('#00FF7F')"></button>
        <td><button style="background-color: #00C957; height: 20px; width: 20px;" onclick="color('#00C957')"></button>
        <td><button style="background-color: #3D9140; height: 20px; width: 20px;" onclick="color('#3D9140')"></button>
        <td><button style="background-color: #32CD32; height: 20px; width: 20px;" onclick="color('#32CD32')"></button>
        <td><button style="background-color: #00EE00; height: 20px; width: 20px;" onclick="color('#00EE00')"></button>
        <td><button style="background-color: #008B00; height: 20px; width: 20px;" onclick="color('#008B00')"></button>
        <tr><td><button style="background-color: #76EE00; height: 20px; width: 20px;" onclick="color('#76EE00')"></button>
        <td><button style="background-color: #CAFF70; height: 20px; width: 20px;" onclick="color('#CAFF70')"></button>
        <td><button style="background-color: #FFFF00; height: 20px; width: 20px;" onclick="color('#FFFF00')"></button>
        <td><button style="background-color: #CDCD00; height: 20px; width: 20px;" onclick="color('#CDCD00')"></button>
        <td><button style="background-color: #FFF68F; height: 20px; width: 20px;" onclick="color('#FFF68F')"></button>
        <td><button style="background-color: #FFFACD; height: 20px; width: 20px;" onclick="color('#FFFACD')"></button>
        <td><button style="background-color: #FFEC8B; height: 20px; width: 20px;" onclick="color('#FFEC8B')"></button>
        <td><button style="background-color: #FFD700; height: 20px; width: 20px;" onclick="color('#FFD700')"></button>
        <tr><td><button style="background-color: #F5DEB3; height: 20px; width: 20px;" onclick="color('#F5DEB3')"></button>
        <td><button style="background-color: #FFE4B5; height: 20px; width: 20px;" onclick="color('#FFE4B5')"></button>
        <td><button style="background-color: #EECFA1; height: 20px; width: 20px;" onclick="color('#EECFA1')"></button>
        <td><button style="background-color: #FF9912; height: 20px; width: 20px;" onclick="color('#FF9912')"></button>
        <td><button style="background-color: #8E388E; height: 20px; width: 20px;" onclick="color('#8E388E')"></button>
        <td><button style="background-color: #7171C6; height: 20px; width: 20px;" onclick="color('#7171C6')"></button>
        <td><button style="background-color: #7D9EC0; height: 20px; width: 20px;" onclick="color('#7D9EC0')"></button>
        <td><button style="background-color: #388E8E; height: 20px; width: 20px;" onclick="color('#388E8E')"></button>
        <tr><td><button style="background-color: #71C671; height: 20px; width: 20px;" onclick="color('#71C671')"></button>
        <td><button style="background-color: #8E8E38; height: 20px; width: 20px;" onclick="color('#8E8E38')"></button>
        <td><button style="background-color: #C5C1AA; height: 20px; width: 20px;" onclick="color('#C5C1AA')"></button>
        <td><button style="background-color: #C67171; height: 20px; width: 20px;" onclick="color('#C67171')"></button>
        <td><button style="background-color: #555555; height: 20px; width: 20px;" onclick="color('#555555')"></button>
        <td><button style="background-color: #848484; height: 20px; width: 20px;" onclick="color('#848484')"></button>
        <td><button style="background-color: #F4F4F4; height: 20px; width: 20px;" onclick="color('#F4F4F4')"></button>
        <td><button style="background-color: #EE0000; height: 20px; width: 20px;" onclick="color('#EE0000')"></button>
        <tr><td><button style="background-color: #FF4040; height: 20px; width: 20px;" onclick="color('#FF4040')"></button>
        <td><button style="background-color: #EE6363; height: 20px; width: 20px;" onclick="color('#EE6363')"></button>
        <td><button style="background-color: #FFC1C1; height: 20px; width: 20px;" onclick="color('#FFC1C1')"></button>
        <td><button style="background-color: #FF7256; height: 20px; width: 20px;" onclick="color('#FF7256')"></button>
        <td><button style="background-color: #FF4500; height: 20px; width: 20px;" onclick="color('#FF4500')"></button>
        <td><button style="background-color: #F4A460; height: 20px; width: 20px;" onclick="color('#F4A460')"></button>
        <td><button style="background-color: #FF8000; height: 20px; width: 20px;" onclick="color('FF8000')"></button>
        <td><button style="background-color: #FFD700; height: 20px; width: 20px;" onclick="color('#FFD700')"></button>
        <tr><td><button style="background-color: #8B864E; height: 20px; width: 20px;" onclick="color('#8B864E')"></button>
        <td><button style="background-color: #9ACD32; height: 20px; width: 20px;" onclick="color('#9ACD32')"></button>
        <td><button style="background-color: #66CD00; height: 20px; width: 20px;" onclick="color('#66CD00')"></button>
        <td><button style="background-color: #BDFCC9; height: 20px; width: 20px;" onclick="color('#BDFCC9')"></button>
        <td><button style="background-color: #76EEC6; height: 20px; width: 20px;" onclick="color('#76EEC6')"></button>
        <td><button style="background-color: #40E0D0; height: 20px; width: 20px;" onclick="color('#40E0D0')"></button>
        <td><button style="background-color: #E0EEEE; height: 20px; width: 20px;" onclick="color('#E0EEEE')"></button>
        <td><button style="background-color: #98F5FF; height: 20px; width: 20px;" onclick="color('#98F5FF')"></button>
        <tr><td><button style="background-color: #33A1C9; height: 20px; width: 20px;" onclick="color('#33A1C9')"></button>
        <td><button style="background-color: #F0F8FF; height: 20px; width: 20px;" onclick="color('#F0F8FF')"></button>
        <td><button style="background-color: #4682B4; height: 20px; width: 20px;" onclick="color('#4682B4')"></button>
        <td><button style="background-color: #C6E2FF; height: 20px; width: 20px;" onclick="color('#C6E2FF')"></button>
        <td><button style="background-color: #9B30FF; height: 20px; width: 20px;" onclick="color('#9B30FF')"></button>
        <td><button style="background-color: #EE82EE; height: 20px; width: 20px;" onclick="color('#EE82EE')"></button>
        <td><button style="background-color: #FFC0CB; height: 20px; width: 20px;" onclick="color('#FFC0CB')"></button>
        <td><button style="background-color: #7CFC00; height: 20px; width: 20px;" onclick="color('#7CFC00')"></button>
    </table>
    </div>

    <div sytle= 'float:right'>
    <fieldset>
            </table>
        <label>Style: <select id="fontselect" onchange="font(this.value)" style="height: 30px; width: 90px;">
            <option value="20px Arial">Small Arial</option>
            <option value="30px Arial">Medium Arial</option>
            <option value="40px Arial">Large Arial</option>
            <option value="20px Comic Sans">Small Comic Sans</option>
            <option value="30px Comic Sans">Medium Comic Sans</option>
            <option value="40px Comic Sans">Large Comic Sans</option>
    </select></label>


    <label>Text: </label><input id="fname" type="text" onchange="text(this.value)">

    <label>Vertical Text Height: </label><input type="range" min="2" max="99" value="2" class="slider" id="myRange" oninput="changeVert(this.value)">

    <label>Horizontal Text Height: </label><input type="range" min="1" max="97" value="1" class="slider" id="myRange" oninput="changeHorzt(this.value)">

    </fieldset>
    </div>

    <div sytle= 'float:right'>
    <fieldset>
            <label>Upload Image: </label><input id="fname" type="text"><button id="upload" onclick="upload()">Upload</button>
    </fieldset>
    </div>

    <div sytle= 'float:right'>
    <fieldset>
            <label>Monster Name: </label><input id="fname" type="text"><button id="save" onclick="save()">Save</button>
            <button id="reset" onclick="reset()">Reset</button>
    </fieldset>
    </div>




<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src=" {{ url_for('static', filename='script.js') }}"></script>

<script>
    var canvas = document.getElementById("paint");
    var ctx = canvas.getContext("2d");
    var width = canvas.width;
    var height = canvas.height;
    var curX, curY, prevX, prevY;
    var hold = false;
    ctx.lineWidth = 2;
    var fill_value = true;
    var stroke_value = false;
var canvas_data = {"pencil": [], "line": [], "rectangle": [], "circle": [], "eraser": [], "text": [], "upload": []}

    var vert =  (2/100)*630;
    var horzt =  (1/100)*450;

    reset();


function change(type) {
if (type == "pencil") {
        pencil();
    }
if (type == "line") {
        line();
    }
if (type == "rectangle") {
        rectangle();
    }
if (type == "circle") {
        circle();
    }
if (type == "eraser") {
        eraser();
    }
if (type == "upload") {
        //check if new design ...
        upload();
    }
if (type == "fill") {
        fill();
    }
if (type == "outline") {
        outline();
    }
}

function color(color_value){
        ctx.strokeStyle = color_value;
    ctx.fillStyle = color_value;
}

function font(font_value){
        ctx.font = font_value;
    }

function changeVert(v){
        vert = (v / 100) * 630;
    }

function changeHorzt(h){
        horzt = (h / 100) * 450;
    }

function add_pixel(){
        ctx.lineWidth += 1;
    }

function reduce_pixel(){
if (ctx.lineWidth == 1){
        ctx.lineWidth = 1;
    } else{
        ctx.lineWidth -= 1;
    }
}

function fill(){
        fill_value = true;
    stroke_value = false;
}

function outline(){
        fill_value = false;
    stroke_value = true;
}

function reset(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    canvas_data = {"pencil": [], "line": [], "rectangle": [], "circle": [], "eraser": [], "text": [], "upload": []}
    var oldcolor = ctx.strokeStyle;
    color("#FFFFFF");
    ctx.strokeRect(0, 0, 450, 630);
if (fill_value){
        ctx.fillRect(0, 0, 450, 630);
    }
    color(oldcolor);
}

// pencil tool

function pencil(){

        canvas.onmousedown = function (e) {
            curX = e.clientX - canvas.offsetLeft;
            curY = e.clientY - canvas.offsetTop;
            hold = true;

            prevX = curX;
            prevY = curY;
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
        };

    canvas.onmousemove = function(e){
if(hold){
        curX = e.clientX - canvas.offsetLeft;
    curY = e.clientY - canvas.offsetTop;
    draw();
}
};

canvas.onmouseup = function(e){
        hold = false;
    };

canvas.onmouseout = function(e){
        hold = false;
    };

function draw(){
        ctx.lineTo(curX, curY);
    ctx.stroke();
canvas_data.pencil.push({"startx": prevX, "starty": prevY, "endx": curX, "endy": curY, "thick": ctx.lineWidth, "color": ctx.strokeStyle });
}
}

// line tool

function line(){

        canvas.onmousedown = function (e) {
            img = ctx.getImageData(0, 0, width, height);
            prevX = e.clientX - canvas.offsetLeft;
            prevY = e.clientY - canvas.offsetTop;
            hold = true;
        };

    canvas.onmousemove = function linemove(e){
if (hold){
        ctx.putImageData(img, 0, 0);
    curX = e.clientX - canvas.offsetLeft;
    curY = e.clientY - canvas.offsetTop;
    ctx.beginPath();
    ctx.moveTo(prevX, prevY);
    ctx.lineTo(curX, curY);
    ctx.stroke();
canvas_data.line.push({"starx": prevX, "starty": prevY, "endx": curX, "endY": curY, "thick": ctx.lineWidth, "color": ctx.strokeStyle });
    ctx.closePath();
}
};

canvas.onmouseup = function (e){
        hold = false;
    };

canvas.onmouseout = function (e){
        hold = false;
    };
}

// rectangle tool

function rectangle(){

        canvas.onmousedown = function (e) {
            img = ctx.getImageData(0, 0, width, height);
            prevX = e.clientX - canvas.offsetLeft;
            prevY = e.clientY - canvas.offsetTop;
            hold = true;
        };

    canvas.onmousemove = function (e){
if (hold){
        ctx.putImageData(img, 0, 0);
    curX = e.clientX - canvas.offsetLeft - prevX;
    curY = e.clientY - canvas.offsetTop - prevY;
    ctx.strokeRect(prevX, prevY, curX, curY);
if (fill_value){
        ctx.fillRect(prevX, prevY, curX, curY);
    }
canvas_data.rectangle.push({"starx": prevX, "stary": prevY, "width": curX, "height": curY, "thick": ctx.lineWidth, "stroke": stroke_value, "stroke_color": ctx.strokeStyle, "fill": fill_value, "fill_color": ctx.fillStyle });
}
};

canvas.onmouseup = function(e){
        hold = false;
    };

canvas.onmouseout = function(e){
        hold = false;
    };
}

// circle tool

function circle(){

        canvas.onmousedown = function (e) {
            img = ctx.getImageData(0, 0, width, height);
            prevX = e.clientX - canvas.offsetLeft;
            prevY = e.clientY - canvas.offsetTop;
            hold = true;
        };

    canvas.onmousemove = function (e){
if (hold){
        ctx.putImageData(img, 0, 0);
    curX = e.clientX - canvas.offsetLeft;
    curY = e.clientY - canvas.offsetTop;
    ctx.beginPath();
    ctx.arc(Math.abs(curX + prevX)/2, Math.abs(curY + prevY)/2, Math.sqrt(Math.pow(curX - prevX, 2) + Math.pow(curY - prevY, 2))/2, 0, Math.PI * 2, true);
    ctx.closePath();
    ctx.stroke();
if (fill_value){
        ctx.fill();
    }
canvas_data.circle.push({"starx": prevX, "stary": prevY, "radius": curX - prevX, "thick": ctx.lineWidth, "stroke": stroke_value, "stroke_color": ctx.strokeStyle, "fill": fill_value, "fill_color": ctx.fillStyle });
    }
};

canvas.onmouseup = function (e){
        hold = false;
    };

canvas.onmouseout = function (e){
        hold = false;
    };
}

// eraser tool

function eraser(){

        canvas.onmousedown = function (e) {
            curX = e.clientX - canvas.offsetLeft;
            curY = e.clientY - canvas.offsetTop;
            hold = true;

            prevX = curX;
            prevY = curY;
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
        };

    canvas.onmousemove = function(e){
if(hold){
        curX = e.clientX - canvas.offsetLeft;
    curY = e.clientY - canvas.offsetTop;
    draw();
}
};

canvas.onmouseup = function(e){
        hold = false;
    };

canvas.onmouseout = function(e){
        hold = false;
    };

function draw(){
        ctx.lineTo(curX, curY);
    ctx.strokeStyle = "#ffffff";
    ctx.stroke();
canvas_data.pencil.push({"startx": prevX, "starty": prevY, "endx": curX, "endy": curY, "thick": ctx.lineWidth, "color": ctx.strokeStyle });
}
}

function text(words){
        ctx.fillText(words, horzt, vert); //horzt, vert
    canvas_data.line.push({"starx": horzt, "starty": vert, "text": words, "font": ctx.font, "color": ctx.strokeStyle })
}

function upload() {
var uploader = document.getElementById('uploader');
/**
   * UPLOAD SCRIPT
   * This script uses the UploadAtClick library to upload files on a webserver folder
   * using a PHP script ("upload/upload.php")
   * Project homepage: http://code.google.com/p/upload-at-click/
   */
    upclick(
{
        element: uploader,
    action: 'upload/upload.php', //need to fix
    onstart:
function(filename)
{
        //alert('Start upload: '+filename);
    },
        oncomplete:
    function(response_data)
{
// Check upload Status
if (response_data != "FAIL") {
        // Draw the picture into Canvas
        // "response_data" contains the image file name returned from the PHP script
        displayPicture("upload/" + response_data);
    }
  }
    });

}

function save(){
var filename = document.getElementById("fname").value;
    var data = JSON.stringify(canvas_data);
    var image = canvas.toDataURL();

$.post("/", {save_fname: filename, save_cdata: data, save_image: image });
    alert(filename + " saved");

    //redirect to page that was on
}


function reload(){
    }

</script>

</body>
{% endblock %}
