
{%extends 'loggedinheader.html'%}
{% block content %}

<body>
    <!-- Button trigger modal -->
    <button type="button" class="button" data-toggle="modal" data-target="#selectHandModal">
        DRAFT MY MONSTERS.
    </button>

    <!-- Modal For Selecting the Hand from Deck -->
    <div class="modal fade" id="selectHandModal" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="overflow-y: initial; max-height: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Welcome to the Monster Draft!</h5>
                </div>
                <div class="modal-body" id="" style="overflow-y:auto; max-height: 80%">
                    <div class="container" id="kev">

                    </div>
                    <div class=  "container" id="jake">
                        <p> Select five monsters that you want to draft onto your team before the battle begins.</p>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="sendHand()" type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton" disabled>Save Team</button>
                </div>
            </div>
        </div>
    </div>

    <div id="game-window">
        <form>
          <input type="button" value="New Game" onclick="checkGames_io()" />
          <input type="button" value="Wait" onclick="waitState()" />
        </form> 
         <div id="game-window">
    <div class="row">
      <div id="left-col" class="leftcolumn">
        <div class="card-deck">
            <div class="card no-bg-border">
                <div class="card-body">
                    <h2 class="text-center">Attacker</h2>
                    <div id="lc1" >
                      
                    </div>
                </div>
            </div>
            <div class="card no-bg-border">
                <div class="card-body">
                    <h2 class="text-center">Defender</h2>
                    <div id="lc2" >
                      
                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck" style="color: black">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Players:</h2>
                </div>
                <div class="card-body">
                    <div class="card-deck" id="opponents">

                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck" style="color: black">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Your Hand:</h2>
                </div>
                <div class="card-body">
                    <div class="card-deck" id="monsterHand">

                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="message_holder"></div>
        <form action="javascript:void(0);" method="POST">
          <!-- <input type="text" class="username" placeholder="User Name" /> -->

          <input type="text" class="message" placeholder="Messages" style="width: 300px;"/>
          <button onclick="sendChat()" type="button">Submit</button>
        </form>
      </div>
    </div> 
  </div>
</body>

<!-- Waiting for players modal -->
<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center modal-text">
        <div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div>
        <div id="waitingTag">
            <p>Waiting for players to join...<br> Currently, the following players are connected:</p>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Waiting for players modal -->
<div class="modal fade" id="voteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body text-center modal-text">
          <div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div>
          <div id="waitingTag">
              <p>Vote for a winner</p>
  
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  
  function sendHand() {
    sendHand_io(monsterChoices, getPlayerData(), gameData["gameid"]);
  }

  function sendChat() {
    let user_name = $( 'input.username' ).val();
    let user_input = $( 'input.message' ).val();
    $( 'input.message' ).val("");
    console.log(user_name);
    socket.emit( 'my event', {
      user_name : getPlayerData()["email"],
      message : user_input
    });
  }

  $(document).ready(function () {
    document.addEventListener('game-update', gameUpdate);
      
    $("#voteMddal").modal({
      backdrop: "static", //remove ability to close modal with click
      keyboard: false, //remove option to close with keyboard
      show: false //Display loader!
    });
    $("#waitingModal").modal({
      backdrop: "static", //remove ability to close modal with click
      keyboard: false, //remove option to close with keyboard
      show: false //Display loader!
    });
    $("#selectHandModal").modal({
      backdrop: "static", //remove ability to close modal with click
      keyboard: false, //remove option to close with keyboard
      show: false //Display loader!
    });
    createMonsters()
  });

  function gameUpdate() {
    var state = gameData.state;
    console.log(state);
    updateWaitModal();
    switch (state) {
      case "WaitState":
        waitState();
        break;
      case "SelectHandState":
        selectHandState();
        break;
      case "AttackState":
        disableDefCard();
        attackState();
        updateAtkCard();
        break;
        case "DefendState":
        updateAtkCard();
        defendState();
        console.log("HERE")
        updateDfsCard();
        break;
        case "VoteState":
        updateDfsCard();
        voteState();
        // $('#voteModal').modal('show');
        // setTimeout(function(){$('#voteModal').modal('hide'); }, 3000);
        break;
      case "WinnerState":
        winState();
        break;
      case "EndState":
        endState();
        break;
      default:
        defaultState();
    }
  }

  function updateAtkCard() {
    console.log("Attack State")
    console.log(gameData)
    index = names.indexOf(gameData["atk_card"])
    pictureName = locations[index]
    document.getElementById("lc1").innerHTML = `<button onclick="handleVote('${gameData["atk_card"]}')"><img src="/static/images/${pictureName}"></button>` + "<br> Attacking Player: " + gameData.attacker;
  }

  function disableDefCard() {
    document.getElementById("lc2").innerHTML = "";
  }

  function updateDfsCard() {
    console.log("Defense state")
    console.log(gameData)
    console.log(gameData["dfs_card"])
    index = names.indexOf(gameData["dfs_card"])
    console.log(index)
    pictureName = locations[index]
    console.log(pictureName)
    document.getElementById("lc2").innerHTML = `<button onclick="handleVote('${gameData["dfs_card"]}')"><img src="/static/images/${pictureName}"></button>` + "<br> Defending Player: " + gameData.defender;
  }

  function defaultState() {
    // Reset "waitForPlayers" state
    $("#waitingModal").modal('hide');
    $("#selectHandModal").modal('hide');
  }

  function waitState() {
    $("#selectHandModal").modal('hide');
    $("#waitingModal").modal('show');
  }

  function selectHandState() {
    $("#waitingModal").modal('hide');
    $("#selectHandModal").modal('show');
    listPlayers();
  }
  function attackState() {
      printAttacker();
      listHand();
      listPlayers();
  }
  function defendState() {
      console.log("WHY?")
      printDefender();
      listHand();
  }
  function voteState() {
      listHand();
  }
  function winState() {
    console.log("Enter Win State")
      changeHand(); //for now just change the hand of the card
      console.log("Init Next Round")
      newRound();
  }
  function endState() {
      showResults(); //no implemented for this release
  }

  function updateWaitModal() {
      waitString = "<p>Waiting for players to join...<br> Currently, the following players are connected:</p>";
      players = gameData.players;
      for (var i = 0; i < players.length; i++) {
          waitString = waitString + players[i].email + "<br>";
      }
      document.getElementById("waitingTag").innerHTML = waitString;
  }
</script>

<audio id="myAudio">
  <source src="/static/sounds/song.mp3" type="audio/mpeg">
</audio>
<audio id="myAudio2">
  <source src="/static/sounds/ah.mp3" type="audio/mpeg">
</audio>
<audio id="myAudio3">
  <source src="/static/sounds/clinton.mp3" type="audio/mpeg">
</audio>
<audio id="myAudio4">
  <source src="/static/sounds/mac420.mp3" type="audio/mpeg">
</audio>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="/static/scripts/game_logic.js"></script>   
<script>
    var monsterChoices = new Array();
    var attackingCard = null;
    var defendingCard = null;
    var names = ["Paul the Cloud", "Not Paul the Cloud", "Ice Cream Dude", "Jelly Dude", "Galusha", "Space Pampootee", "Raccoon", "Spooder Dude", "Fat Zombie Mario", "Badderlocks", "Mike", "Sulley"];
    var locations = ["monsterExample1.JPG", "monsterExample2.JPG", "monsterExample3.JPG", "monsterExample4.JPG", "monsterExample5.JPG", "monsterExample6.JPG", "monsterExample7.JPG", "monsterExample8.JPG", "monsterExample9.JPG", "monsterExample10.JPG", "monster.gif", "scaryMonster.gif"];
   
    socket.on( 'connect', function() {
      socket.emit( 'my event', {
        data: 'User Connected'
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'my event', {
          user_name : user_name,
          message : user_input
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )
    

    function printAttacker()
    {
      document.getElementById("lc1").innerHTML = gameData.attacker;
    }

    function printDefender()
    {
      document.getElementById("lc2").innerHTML = gameData.defender;
    }

    function handleMonsterClick(nameString) {
        var index = monsterChoices.indexOf(nameString);
        if (index > -1) {
            monsterChoices.splice(index, 1);
            document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "\n";
            document.getElementById("saveButton").disabled = true;
        }
        else{
            if (monsterChoices.length >= 5){
                document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "<br> Your draft is complete, please press 'SAVE TEAM' to prepare your monsters for battle";
            }
            else {
                monsterChoices.push(nameString);
                if (monsterChoices.length >= 5) {
                    document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "<br> Your draft is complete, please press 'SAVE TEAM' to prepare your monsters for battle";
                    document.getElementById("saveButton").disabled = false;
                }
                else {
                    document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "\n";
                }
            }
        }
    }
    function createMonsters()
    {
        numCards = names.length;
        if (numCards >= 50) { numCards = 50; }
        var ref = "<p> Select five monsters that you want to draft onto your team before the battle begins.</p>";
        for (var kasey = 0; kasey < numCards; kasey++) {
            var monster_name = names[kasey];
            var pictureName = locations[kasey];
            ref = ref + `<button onclick="handleMonsterClick('${monster_name}')"><img src="/static/images/${pictureName}" width="125px" height="215px"></button>`
        }
        document.getElementById("jake").innerHTML = ref;
    }


    function listHand() {
        var userid = getPlayerData()["userid"]
        var uind = 0;
        for (var i = 0; i < gameData['players'].length; i++) {
          if (gameData['players'][i]["userid"] == userid) {
            uind = i
          }
        }
        numCards = gameData['players'][uind]["hand"].length;
        printString = '<br>'
        for (var i = 0; i < numCards; i++)
        {
            monster_name = gameData['players'][uind]["hand"][i]
            index = names.indexOf(monster_name)
            pictureName = locations[index]
            
            printString = printString + `<div class="card" style="display: inline-block; max-width:200px; color:#255760";> <img class="card-img-top" src="/static/images/${pictureName}"> <div class="card-body"> <button onclick="handleHandClick('${monster_name}')">${monster_name}</button> </div> </div>`;
        }
        document.getElementById("monsterHand").innerHTML = printString ;
    }

function listPlayers() {
        allPlayers = gameData["players"];
        playerString = '<br>'
        for (var key in allPlayers)
        {
            player_name = allPlayers[key]["email"];
            var uid = allPlayers[key]["userid"]
            
            playerString = playerString + 
         `<div class="card" style="display: inline-block; max-width:200px; color:#255760";> 
      <div class="card-body"> 
      <button onclick="handlePlayerClick('${uid}')">${player_name}</button> </div> </div>`;
        }
        document.getElementById("opponents").innerHTML = playerString ;
    }

    function handlePlayerClick(nameString) {
        if ((gameData.state == "AttackState") && getPlayerData()["userid"] == gameData["attacker"])
        {
            // defender = nameString;
            // gameData["defender"]= nameString;
            selectDefender_io(nameString, gameData["gameid"])

        }
    }

    function changeHand() {
      //take card from loser
      //give card to winner
      console.log("CHANGE HAND")
      allPlayers = gameData["players"];
      allPlayers2 = gameData["players"]
      winner = null;
      attacker = null;
      defender = null;
      for (var key in allPlayers)
        {
            if (allPlayers[key]["userid"] == gameData.winner) {
              console.log("FOUND WINNER")
              if (allPlayers[key]["userid"] == gameData.attacker ) {
                console.log("Attacker won")
                // looking for defender as loser
               for (key2 in allPlayers2) {
                  if (allPlayers2[key2]["userid"] == gameData.defender) {
                    console.log("defender lost")
                    // take card from loser
                    allPlayers2[key2]["hand"].pop(gameData.dfs_card); //wrong syntax??
                    //add it to winner
                    allPlayers[key]["hand"].push(gameData.dfs_card); //wrong syntax??
                  }
                }
              } else {
                //looking for defender as winner
                for (key2 in allPlayers2) {
                  if (allPlayers2[key2]["userid"] == gameData.defender) {
                    console.log("attacker lost")
                    // take card from loser
                    allPlayers2[key2]["hand"].pop(gameData.atk_card); //wrong syntax??
                    //add it to winner
                    allPlayers[key]["hand"].push(gameData.atk_card); //wrong syntax??
                  }
                }
              }
               
            }
            
            
        }
      
    }

    function newRound() {
      //for now new attacker will be random
      gameData.attacker = null;
      gameData.defender = null;
      gameData.winner = null;
      gameData.atk_card = null;
      gameData.dfs_card = null;

      newRound_io(gameData["gameid"])
    }

    function showResults() {

    }


    function handleHandClick(nameString) {
        if ((gameData.state == "AttackState") && getPlayerData()["userid"] == gameData["attacker"])
        {
            attackingCard = nameString;
            attackCard_io(gameData["gameid"] ,attackingCard)
            index = names.indexOf(attackingCard)
            pictureName = locations[index]
            document.getElementById("lc1").innerHTML = `<button onclick="handleVote('${attackingCard}')"><img src="/static/images/${pictureName}"></button>`;
        }

        else if ((gameData.state == "DefendState") && getPlayerData()["userid"] == gameData["defender"])
        {
            defendingCard = nameString;
            defendCard_io(gameData["gameid"] ,defendingCard)
            index = names.indexOf(defendingCard)
            pictureName = locations[index]
            document.getElementById("lc2").innerHTML = `<button onclick="handleVote('${defendingCard}')"><img src="/static/images/${pictureName}"></button>`;
        }
    }
    function handleVote(nameString){
      submitVote_io(gameData["gameid"], getPlayerData()["userid"], nameString)
    }

</script>
{% endblock %}

