
{%extends 'loggedinheader.html'%}
{% block content %}

<body>
    <!-- Button trigger modal -->
    <button type="button" class="button" data-toggle="modal" data-target="#exampleModalLong">
        DRAFT MY MONSTERS.
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Welcome to the Monster Draft!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> Select five monsters that you want to draft onto your team before the battle begins.</p>
                    <div class="container" id="kev">

                    </div>
                    <button onclick="handleMonsterClick('PAUL THE CLOUD')"><img src="/static/images/monsterExample1.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('NOT PAUL THE CLOUD')"><img src="/static/images/monsterExample2.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Ice Cream Dude')"><img src="/static/images/monsterExample3.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Jelly Dude')"><img src="/static/images/monsterExample4.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Galusha')"><img src="/static/images/monsterExample5.jpg" width="125px" height="215px" ></button>
                    <button onclick="handleMonsterClick('Space Pampootee')"><img src="/static/images/monsterExample6.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Raccoon')"><img src="/static/images/monsterExample7.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Spooder Dude')"><img src="/static/images/monsterExample8.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Fat Zombie Mario')"><img src="/static/images/monsterExample9.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Badderlocks')"><img src="/static/images/monsterExample10.jpg" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Mike')"><img src="/static/images/monster.gif" width="125px" height="215px"></button>
                    <button onclick="handleMonsterClick('Sulley')"><img src="/static/images/scaryMonster.gif" width="125px" height="215px"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton" disabled>Save Team</button>
                </div>
            </div>
        </div>
    </div>

   <div id="game-window">
    <div class="row">
      <div id="left-col" class="leftcolumn">
        <div class="card-deck">
            <div class="card no-bg-border">
                <div class="card-body">
                    <h2>Attacker</h2>
                    <div id="lc1" >
                      
                    </div>
                </div>
            </div>
            <div class="card no-bg-border">
                <div class="card-body">
                    <h2>Defender</h2>
                    <div id="lc2" >
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="">
                    <div class="card-deck">
                      <div class="card">
                        <div class="card-body"></div>
                      </div>
                      <div class="card">
                        <div class="card-body"></div>
                      </div>
                      <div class="card">
                        <div class="card-body"></div>
                      </div>
                      <div class="card">
                        <div class="card-body"></div>
                      </div>
                      <div class="card">
                        <div class="card-body"></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="message_holder"></div>
        <form action="" method="POST">
          <input type="text" class="username" placeholder="User Name" />
          <input type="text" class="message" placeholder="Messages" style="width: 300px;"/>
          <input type="submit"/>
        </form>
      </div>
    </div> 
  </div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="/static/scripts/game_logic.js"></script>   
<script>
    var monsterChoices = new Array();

    socket.on( 'connect', function() {
      socket.emit( 'my event', {
        data: 'User Connected'
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'my event', {
          user_name : user_name,
          message : user_input
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )
    socket.on( 'my response', function( msg ) {
      console.log( msg )
      if( typeof msg.user_name !== 'undefined' ) {
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
      }
    })

    function handleMonsterClick(nameString) {
        var index = monsterChoices.indexOf(nameString);
        if (index > -1) {
            monsterChoices.splice(index, 1);
            document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "\n";
            document.getElementById("saveButton").disabled = true;
        }
        else{
            if (monsterChoices.length >= 5){
                document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "<br> Your draft is complete, please press 'SUBMIT' to prepare your monsters for battle";
            }
            else {
                monsterChoices.push(nameString);
                if (monsterChoices.length >= 5) {
                    document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "<br> Your draft is complete, please press 'SUBMIT' to prepare your monsters for battle";
                    document.getElementById("saveButton").disabled = false;
                }
                else {
                    document.getElementById("kev").innerHTML = "You have chosen: " + monsterChoices.toString() + "\n";
                }
            }
        }
    }
</script>
{% endblock %}
