<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <title></title>
</head>
<body>
	<div class="nav">
    <img src="static/assets/logo1.png" alt = "Monster's Ink" style="float: left; width:60px; height:45px">
    <a href="home.html">Home</a>
    <a href="Instructions.html">How to Play</a>
    <a href="Account.html" style="float: right">My Account</a>
  </div>
    <h1>LOGGED IN HOMESCREEN</h1>
    <p> WELCOME TO MONSTERS INK</p>

</body>
<form>
    <input type="button" value="CLICK TO GO TO LOBBY" onclick="window.location.href='/lobby/'" />
</form>

<form>
    <input type="button" value="CLICK TO GO TO YOUR ACCOUNT" onclick="window.location.href='/myaccount/'" />
</form>

<form>
    <input type="button" value="HOW THE HELL DOES THIS GAME WORK?" onclick="window.location.href='/instructions/'" />
</form>

<form>
    <input type="button" value="DRAW MONSTER" onclick="window.location.href='/monstereditor/'" />
</form>
<form>
    <input type="button" value="GO TO GAME" onclick="window.location.href='/game/'" />
</form>
</html>