{% extends "loggedinheader.html" %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head >
</head>
{% block content %}
<body>
    <h1 id="name" align="center"> [Username]'s Monsters</h1>
    <div class="container" id="kevin">

        <button class="button button2" display inline-block; onclick="window.location.href='/myaccount'">Manage Team</button>
    </div>

    <hr />
    <div class="container">
        <button class="button" display inline-block; onclick="window.location.href='/game'">Play with Friends</button>
        <button class="button" display inline-block; onclick="window.location.href='/game'">Play without Friends</button>
    </div>
</body>
<script>
    var sessionData = {};
    var retrieveInfo = {};
    var names = ["Paul the Cloud", "Not Paul the Cloud", "Ice Cream Dude", "Jelly Dude", "Galusha", "Space Pampootee", "Raccoon", "Spooder Dude", "Fat Zombie Mario", "Badderlocks"]
    var locations = ["monsterExample1.JPG", "monsterExample2.JPG", "monsterExample3.JPG", "monsterExample4.JPG", "monsterExample5.JPG", "monsterExample6.JPG", "monsterExample7.JPG", "monsterExample8.JPG", "monsterExample9.JPG", "monsterExample10.JPG"]
    for( var kasey=0; kasey<10; kasey++)
    {
        var monster_name = names[kasey];
        var pictureName = locations[kasey];
        var ref = `<div class="polaroid" id="one"> <img src="/static/images/${pictureName}" alt="Monster 1" style="width:100%; height: 75%"> <div class="container"> <p>${monster_name}</p> </div> </div>`
        $("#kevin").prepend(ref)
    }
    </script>
    
{% endblock %}
</html>