{% extends 'shared.html' %}

{% block header %}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1 col-crush"></div>
    <div class="col-10 col-fill">
        <h1 class="text-center">Monsters Ink</h1>
        <div class="card-deck">
            <div class="card bg-pattern-1">
                <div class="card-body">
                    <p>Monsters Ink is a new-aged take on an old card game where players draw fierce monsters and pitch them against their opponents. </p>
                </div>
            </div>
        </div>
        <div class="card-deck">
               
                    <div class="card bg-pattern-1">
                        <div class="card-body">
                            <h1>Gameplay</h1>
                            <ul>
                                <li>Draw your own card</li>
                                <li>Give it unique abilities</li>
                                <li>Challenge your foes and let the lobby decide your fate.</li>
                                <li>Discuss which opponent wins in text chat.</li>
                                <li>Winner gets to add an ability to the card.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card bg-pattern-1">
                        <div class="card-body">
                            <h1>AWB Team</h1>
                            Monsters Ink is a card game brought to life by Artifical Worm Blast, a Spring 2019 Software Design and Documentation team from RPI.
                        </div>
                    </div>

            </div>
    </div>
    <div class="col-1 col-crush"></div>
</div>
{% endblock %}