<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
{% extends "theme.html" %}
{% block content %}
<body>
    <h1>INSTRUCTIONS</h1>
    <p> How to Play:</p>
</body>
<ol>
    <li>Draw Monster</li>
    <li>Chat about Monster</li>
    <li>Say something funny to girl on other line</li>
    <li>Chat more</li>
    <li>Fall in love</li>
    <li>Meet in person</li>
    <li>Get kidnapped</li>
    <li>Regret decision to use Monsters Ink as a dating service.</li>
</ol>
<form>
    <input type="button" value="RETURN TO HOMESCREEN" onclick="window.location.href='/home/'" />
</form>
{% endblock %}
</html>