<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <title></title>
</head>

<body>
	<div class="nav">
    <img src="/static/assets/logo1.png" alt = "Monster's Ink" style="float: left; width:60px; height:45px">
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('Instructions')}}">How to Play</a>
    <a href="{{url_for('login')}}" style="float: right">Login/Signup</a>
  </div>
  {% block content %}{% endblock %}
 </body>
 </html>