<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <title>Monster's Ink</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/static/scripts/login_auth.js"></script>
</head>

<body>
    <div class="nav">
        <img src="/static/assets/logo1.png" alt="Monster's Ink" style="float: left; width:60px; height:45px">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('Instructions')}}">How to Play</a>
        <a href="{{url_for('signup')}}"> Signup</a>
        <a href="{{url_for('login')}}" style="float: right">Login</a>
    </div>
  {% block content %}{% endblock %}
 </body>
 </html>