{%extends 'loggedinheader.html'%}
{% block content %}
<style>
    .view {
        width: 100;
        height: 100;
        background: #1E2D2F;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    canvas {
        position: absolute;
        box-sizing: border-box;
    }
    canvas:first-child {
        background-color: rgba(#1E2D2F, 1) padding: 10px
    }
</style>
<script src="/static/scripts/ColorWheelScript.js"></script>
<body>
   <div class="view"><canvas></canvas></div>
</body>
{%end block%}