{% extends 'shared.html' %}

{% block header %} {% endblock %}

{% block content %}
<table id="user_table" class="display" style="width:100%">
	<thead>
		<tr>
			<th>Column 1</th>
			<th>Column 2</th>
			<th>Column 3</th>
			<th>Column 4</th>
			<th>Column 5</th>
		</tr>
	</thead>
</table>

<button id="more_users" type="button" class="btn btn-light">Load 50 More</button>

<script>
	var user_table;

	function get_users() {
		var fd = new FormData();
        fd.append( 'query_name', "hey" );

        $.ajax({
          url: '/api/query',
          data: fd,
          processData: false,
          contentType: false,
          type: 'POST',
          success: function(data){
            console.log(data);
          }
        });
	}

	function add_rows(table, rows) {
		// Check the input
		// or don't...
		rows.forEach(function(row) {
			table.row.add( [
				row["ID"],
				row["First"],
				row["Middle"],
				row["Last"],
				row["Email"]
		   ] ).draw( false );
		});
	}

	$(document).ready(function() {
		user_table = $('#user_table').DataTable();
	});

	$('#more_users').on('click', function() {
		var rows = get_users();
		// add_rows(user_table, rows);
	});
</script>
{% endblock %}
