<!DOCTYPE html>
<html lang="en" dir="ltr">
<body bgcolor="#E6E6FA">
    <head>
        <meta charset="utf-8">
        <title>Flask Parent Template</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Monsters Ink</h1>
                <img src="/static/images/monster.gif" alt="MONSTER ;)">
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>

</html>